* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Century Gothic;
}
@font-face {
	font-family: "Aurella";
	src: url("../css/font/Aurella.ttf") format("truetype");
}
.container {
	width: 80%;
	margin: 0 auto;
}
#header {
    background: url(../img/banner.jpg);
    background-size: cover;
    background-position: center center;
    height: 100vh;
    width: 100%;
}
nav.navigation {
    text-align: center;
    padding: 20px 0;
}
img.logo {
     width: 200px;
    height: auto;
}
button.nav-toggle {
    display: none;
}
header ul li {
	display: inline;
}
header ul li a {
	text-decoration: none;
	color: #282828;
	font-size: 20px;
	padding: 0 20px;
}
ul.menu.navMenu {
    padding: 10px 0;
}
.activeLi {
    font-weight: bold;
}
header h1 {
    text-align: right;
    font-family: Monotype Corsiva;
    font-size: 5vw;
}
.headTitle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 53vh;
    color: #7e7b7b;
}
/*flower section*/
#flowers {
    text-align: center;
    padding: 100px 0;
}
img.flower {
    width: auto;
    height: 100%;
    transition: .5s;
}
#flowers p {
    padding: 20px 0;
    line-height: 1.6;
}
p.flowerName {
    font-weight: 600;
    font-size: 20px;
    color: #6a6767;
}
img.flowers {
    width: auto;
    height: 100%;
    padding: 20px;
}
.col-flower {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
p.flowerName {
    padding: 0 !important;
}
/*flowershop section*/
#flowershop {
    background: url(../img/flowershop.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-position: top;
    background-size: cover;
}
#flowershop h4 {
    font-family: Aurella;
    font-size: 50px;
    color: #6a6767;
}
#flowershop p {
    line-height: 1.6;
    padding: 0 50px;
}
.flowerFlower {
    background-color: #ffffff75;
    text-align: center;
    height: 100vh;
    float: left;
    margin: 20px 0;
    width: 50%;
}
.flowerFlower {
     text-align: center;
    background: #ffffff52;
    height: 95vh;
}
.flowerFlower {
	display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

#flowershop a {
    color: #282828;
    text-decoration: none;
    font-family: Lucida Calligraphy;
    position: relative;
    top: 35px;
}
/*flower animation*/
/*--images and divs--*/
.flower-wrapper div {
    overflow: hidden;
    margin: 0 0 10px 10px;
}
.flower-wrapper img {
	width: auto;
	height: 100%;
	transition: .5s;
}	
/*--hovers--*/
div.flower-wrapper img:hover {
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	opacity: .2;
	filter: blur(3px);
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
}
div.text {
	opacity: 0;
	transition: .7s
}
div.flower-wrapper div:hover div.text {
	opacity: 1;
  	transition-delay: .3s;
}
div.flower-wrapper div:hover {
 	cursor: pointer;
}
.text p{
    position: absolute;
    width: 9em;
    margin-top: 5em;
    pointer-events: none;
    text-align: left;
    font-weight: 400;
    text-align: center;
    font-size: 50px;
}
.flower-wrapper .text {
	display: inline; 
	margin: 0;
}
/*end flower animation*/

/*unlimited flowers*/
#unlimitedFlower {
    padding: 40px 0;
    text-align: center;
}
img.unlimitedFlower {
    width: auto;
    height: 100%;
}
#unlimitedFlower h4 {
	font-family: Aurella;
    font-size: 50px;
    color: #6a6767;
}
#unlimitedFlower a {   
    color: #282828;
    text-decoration: none;
    font-family: Lucida Calligraphy;
}
/*newsletter*/
#newsletter {
    background: url(../img/newsletter.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    background-position: center;
}
#newsletter h4 {
	font-family: Aurella;
    font-size: 50px;
    color: #6a6767;
}
.col-newsletter {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
}
input[type="text"] {
    height: 35px;
    width: 50%;
    outline: none;
    border-radius: 5px;
    border: none;
}
input[type="button"] {
    background: #ebebeb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: #6a6767;
    outline: none;
}
/*contact section*/
#contact {
    padding: 50px 0;
    line-height: 1.6
}
.col-contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#contact h5 {
   	font-family: Aurella;
    font-size: 30px;
    padding: 20px 0;
    color: #282828;
}
.gr-contact {
    width: calc(95% / 3);
}
#contact p {
    padding: 0 20px;
    line-height: 1.6;
   	text-align: justify;
}
.social {
    padding-left: 20px;
}
/*footer*/
#footer {
	text-align: center;
}
#footer {
    background: #898989;
    padding: 20px 0;
    color: #fff;
}

@media (min-width: 1024px) and (max-width: 1200px) {
	img.unlimitedFlower {
	    width: 100%;
	    height: auto;
	}
	.col-floweShop {
    	width: 100%;
	}
}
@media (max-width: 1024px) and (min-width: 768px){
	img.unlimitedFlower {
	    width: 100%;
	    height: auto;
	}
	header h1 {
	    text-align: center;
	}
	.col-floweShop {
   		width: 100%;
   	}
	.gr-contact {
    	width: 100%;
	}
	.flowerFlower {
/*    height: 85vh;*/
    width: 100%;
}
}
@media (min-width: 320px) and (max-width: 767px) {
	#flowershop p {
		padding: 0 5px;
	}

	#flowershop h4{
		font-size: 40px;
	}
	img.flowers {
    	width: 100%;
    	height: auto;
    	padding: 20px 0;
	}
	img.flower {
	    width: 100%;
	    height: auto;
	}
	img.unlimitedFlower {
	    width: 100%;
	    height: auto;
	}
	#unlimitedFlower h4 {
   		font-size: 40px;
	}
	.col-floweShop {
		width: 100%;
		display: block;
	}
	.flowerFlower {
    	padding: 0px;
    }
    #flowershop a {
    	top: 0;
    }
    .col-newsletter {
	    position: relative;
	    top: 6em;
	    left: 0;
	}
	input[type="text"] {
	    width: 80%;
	    margin: 5px 0;
	}
	#contact p {
    	padding: 20px 0;
	}
	.col-contact {
    	display: block;
    }
    .gr-contact {
    	width: 100%;
	}
	#newsletter {
		height: 70vh;
	}
	#flowershop h4 {
    	padding: 20px 0;
    }
    button.nav-toggle {
    	display: block;
	}
	.nav-toggle{
	    display: block;
	    float: right;
	    top: 24px;
	    position: relative;
	    padding: 10px;
	    border: none;
	    background: #ffd00f;
	    color: #b10201;
	    font-weight: bolder;
	    outline: none;
	    cursor: pointer;
	}
	.nav-toggle .menu {
	    display: block;
	}
	header ul li {
	    display: block;
	    padding: 10px 0;
	    font-size: 20px;
	    text-align: center;
	}
	.nav-toggle .menu {
	    display: block;
	}
	header .navigation #navi ul {
	    display: block;
	    text-align: center;
	    justify-content: center;
	    padding: 0; 
	}
	ul.menu.navMenu.menu-active {
	    display: block !important;
	}
	.menu {
		float: none;
	    width: 100%;
	    display: none !important;
	    position: relative;
	}
	.navMenu {
	     position: absolute;
	    top: 146px;
	    background-color: #000000d4;
	    z-index: 999;
    	width: 80%;
	}
	header ul li a {
	    text-decoration: none;
	    color: #fff;
	}
	nav.navigation {
		text-align: left;
	}
	.flower-wrapper img {
	    width: 270px;
	    height: 100%;
	    transition: .5s;
	}
	.text p {
       	position: absolute;
	    width: 10em;
	    margin-top: 6em;
	    pointer-events: none;
	    text-align: left;
	    font-weight: 400;
	    text-align: center;
	    font-size: 25px;
	}
	br.break {
    	display: none;
	}
	header h1 {
	    text-align: center;
	}
}
@media (min-width: 415px) and (max-width: 767px) {
	.col-floweShop {
    	top: 5em;
	}
}
@media (max-width: 359px) {
	#newsletter {
    	height: 100vh;
	}
	.col-newsletter {
    	left: 0;
	}
}
@media (max-width: 767px) and (min-width: 411px) {
	#flowershop p {
    	padding-bottom: 20px;
    }
    #header {
   		height: 70vh;
	}
	.headTitle {
    	height: 46vh;
	}	
}

@media (min-width: 1024px) and (max-width: 1024px) {
	.headTitle {
    	height: 45vh;
	}
	#header {
		height: 70vh;
	}
}

@media (max-width: 767px) {
	.headTitle {
		height: 38vh;
	}
	#header {
    	height: 70vh;
	}
	.flowerFlower {
	    width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 992px) {
   	.headTitle {
    	height: 37vh;
 	}
}
@media (min-width: 768px) and (max-width: 768px) {
		#header{
		height: 70vh;
	}
}