@charset "UTF-8";

// ---------------------------------------------
//  トップ専用
// ---------------------------------------------

#top_mv {

    @include max-mq() {
        //スマートフォンサイズの時の処理
    }
}

#top_info {
    dt{
        float:left;
        clear: left;
    }
    dd{
        padding-left: 10em;
    }
}
